.asignmentData {
    margin-bottom: 10px;
    display: block;
    background-color: #1c64ad;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}
.asignmentData p{
    color:white;
    margin-bottom: 10px;
}
.assignmentactions{
    display: flex;
    flex-direction: row;
}
.assignmentactions a{
    text-decoration: none;
    color: black;
    background-color: rgb(227, 236, 241);
    border-radius: 5px;
    align-items: center;
    margin-top: 10px;
    padding: 5px 10px;
}
.assignmentactions a:hover{
    background-color: rgb(216, 219, 221);
}
.assignmentactions button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.asignmentData button{
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;

}
