.profile{
    display: flex;
}
.sidebar{
    height: 774px;
    width: 300px;
    background-color: #305b86;
}
.sprofile{
    margin: 120px 290px;
    width: 90%;
    max-width: 450px;
    padding: 20px;
    background-color: white;
}