@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.subjectData {
    margin-top: 25px;
    margin-left: 450px;
    margin-right: -290px;
    display: inline-block;
    
}
.s_list{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  
}

.s_list img {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 150px;
  width: 410px;
}
.s_list h3{
    font: inherit;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 5px 0px 5px;
    margin-top: 5px;
    color: rgb(92, 89, 89);
}
.s_list b{
  color: #031e3a;
}

.sdetails{
  margin-top: 40px;
  
}
.sdetails_link{
  text-decoration: none;
  background-color: #11d1eb;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.sdetails_link:hover{
  background-color: #1c64ad;
  color: white;
  transition: 3s;
}
.sdetails_button{
  background-color: #11d1eb;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #11d1eb;
}
.sdetails_button:hover{
  background-color: #1c64ad;
  color: white;
  transition: 3s;
  border: 1px solid #1c64ad;
}