@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

.background {
  background: url("../Assets/LoginPageBackground.jpg");
  height: 750px;
}
.heading {
  margin-left: 180px;
  padding-top: 100px;
}
.background h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  color: #305b86;
}
.role {
  font: inherit;
  font-size: 30px;
  margin-left: 330px;
  margin-top: 60px;
  font-weight: bold;
}
.action {
  margin-left: 310px;
}

.action_link {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  background-color: #16c0b2;
  width: 250px;
  margin: 20px 0px;
  padding: 20px 70px;
  border-radius: 20px;
  border: 2px solid #16c0b2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: black;
}
.action_link:hover {
  background: #305b86;
  border: 2px solid #305b86;
  color: white;
}
#transcript{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media(max-width:580px){
  .background{
    background: none;
  }
  .heading {
    margin-left: 60px;
    padding-top: 50px;
  }
  .background h1{
    font-size: 60px;
  }
  .role {
    font: inherit;
    font-size: 30px;
    margin-left: 75px;
    margin-top: 60px;
    font-weight: bold;
  }
  .action {
    margin-left: 60px;
  }
}